*{
	box-sizing:border-box;
}
body{
	background:#f2f2f2;
}

div{
}

.page_A4{
	width:210mm;
	height:297mm;
	margin:auto;
	margin-top:20mm;
	margin-bottom:20mm;
	box-shadow: 10px 10px 32px -1px rgba(0,0,0,0.76);
	padding:10mm;
	box-sizing:border-box;
	color:#0E0E10;
	background:#f2f2f2;
	line-height:1.1;
	/*background:#FFFFFF;*/
}
p, ul{
	font-family:Trebuchet, Helvetica, Arial, sans-serif;/**/
}
h1, h2, h3, h4{
	font-family:Consolas, " Courier New", monospace;
}
h1, h2{
	text-align:center;
	font-size:260%;
	font-weight:bold;
}
h1 + h2{
	margin-bottom:20px;
}
h3{
	font-size:160%;
	color:#f2f2f2;
	background:#A72920;
	background:#A72920;
	padding:5px 0;
}
h4{
	font-size:120%;
	/*margin: 5px 0;*/
	padding: 5px 0;
	color:#f2f2f2;
	background:#F67828;
	background:#F67828;
	text-align:center;
}
.emoji{
	display:none;/*enable/disble the unicode emojis*/
}
#status_container{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	/*align-items:stretch;*/
	margin-bottom:20px;
}
#status_container #status_primary_infos{
	text-align:left;
}
#status_container #status_secondary_infos{
	text-align:right;
}
#status_container #status_name{
	font-weight:bold;
}
}
#status_container a{
	text-decoration:none;
	color:#0E0E10;
	border-bottom:1px solid #7A888E;
}
#status_container a:link{
	text-decoration:none;
	color:#0E0E10;
	border-bottom:1px solid #7A888E;
}
#status_container a:hover{
	text-decoration:none;
	color:#0E0E10;
	border-bottom:2px solid #7A888E;
}
#status_container a:active{
	text-decoration:none;
	color:#0E0E10;
}
#status_container a:visited{
	text-decoration:none;
	color:#0E0E10;
}

#exp_container ul{
	list-style:none;
	font-style:italic;
}
#exp_container .exp_pro:not(:last-child){
	/*border-bottom: 2px #888 solid;*/
}
.exp_unit_container{
	padding-bottom:10px;
	margin-bottom:10px;
}


#knowledge_container{
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-evenly;
	align-items:flex-start;
}
#knowledge .skill_container:not(:last-child){
	border-right: 1px solid #7A888E;
}
#knowledge .skill_container{
	padding-left:5px;
	padding-right:5px;
	width:25%;
}
#knowledge h4{
}
#knowledge ul{
	list-style:none;
}
.skill_low:before{
	content: "▓▓▒░░";
	color:#7E4B26;
	background:#E3D9C6;
}
.skill_medium:before{
	content: "▓▓▓▒░";
	color:#F6B600;
	background:#E3D9C6;
}
.skill_good:before{
	content: "▓▓▓▓░";
	color:#61993B;
	background:#E3D9C6;
}
.skill_perfect:before{
	content: "▓▓▓▓▓";
	color:#007CB0;
	background:#E3D9C6;
}
.skill_bar{
	display:none;
}

#fun ul{
	list-style:none;
}
/*
 **********************************************************************************************************************
 * Electronic color codes in CSS.
 * Converted from RAL values from https://en.wikipedia.org/wiki/Electronic_color_code
 **********************************************************************************************************************
 */
.electronic_0{
	/* 0 - black */
	background-color:#0E0E10;
}
.electronic_1{
	/* 1 - brown */
	background-color:#7E4B26;
}
.electronic_2{
	/* 2 - red */
	background-color:#A72920;
}
.electronic_3{
	/* 3 - orange */
	background-color:#F67828;
}
.electronic_4{
	/* 4 - yellow */
	background-color:#F6B600;
}
.electronic_5{
	/* 5 - green */
	background-color:#61993B;
}
.electronic_6{
	/* 6 - blue */
	background-color:#007CB0;
}
.electronic_7{
	/* 7 - violet */
	background-color:#76689A;
}
.electronic_8{
	/* 8 - gray */
	background-color:#7A888E;
}
.electronic_9{
	/* 9 - white */
	background-color:#E3D9C6;
}